SHATTAK_API_BASE_URL=http://localhost:5000/api/v1
SHATTAK_USER_SESSION_COOKIE_NAME=shattak_session
SHATTAK_ADMIN_SESSION_COOKIE_NAME=shattak_admin_session
NEXT_PUBLIC_SHATTAK_API_BASE_URL=http://localhost:5000/api/v1
NEXT_PUBLIC_GOOGLE_CLIENT_ID=replace.apps.googleusercontent.com
NEXT_PUBLIC_MIXPANEL_TOKEN=
NEXT_PUBLIC_MIXPANEL_API_HOST=https://api-eu.mixpanel.com
NEXT_PUBLIC_MIXPANEL_ENABLED=true
NEXT_PUBLIC_MIXPANEL_TRACK_LOCALHOST=false
NEXT_PUBLIC_MIXPANEL_AUTOCAPTURE=true
NEXT_PUBLIC_MIXPANEL_REPLAY_PERCENT=100
NEXT_PUBLIC_MIXPANEL_DEBUG=false
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_META_PIXEL_ENABLED=true
NEXT_PUBLIC_META_PIXEL_TRACK_LOCALHOST=false
NEXT_PUBLIC_WHATSAPP_GROUP_URL=https://chat.whatsapp.com/EIKGl8e6GpAHfVLO1ckjc1
NEXT_PUBLIC_SITE_URL=https://shattak.com
NEXT_PUBLIC_HERO_VIDEO_URL=
NETLIFY_SITE_ID=
NETLIFY_AUTH_TOKEN=
